div{
    /* inline-block Когато искаме елемента да заема точно толкова 
    място колкото е големината му
    block Когато искаме да заема целият ред на който стои */
    display:inline-block;
    display:block;
    /* Когато искаме да скрием елемент */
    display:none;

/* Разширяване на размера на текста */
    font-size:30px;
/* Болд или нормал болд е одебелен нормален си е норм. */
font-weight:bold,normal;
/* Накланяне на текста */
font-style: italic;
/* променяне на  стила на шрифта*/
font-family: Arial, Helvetica, sans-serif;
/* Как да центрираме да стои вдясно или вляво */
text-align: center;
/*Когато видим само color означава цвета на тексста  */
color:red;


/* Итериране */
/*Когато селектираме по id си връща дадения Елемент
Когато селектираме по клас ни дава колекция със елементите
по този клас като querrySelector*/
}